<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!--远程oracle连接字符串(A sample:"Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=hwpl-svr-00269)(PORT=1521))(CONNECT_DATA=(Service_name=orcl.hwpg.net)));User Id=pmsotto;Password=pms123;")-->
    <add key="oracleConnString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=hwpl-svr-00269)(PORT=1521))(CONNECT_DATA=(Service_name=orcl.hwpg.net)));User Id=pmsprod;Password=pms123;"/>

    <!--本地oracle连接字符串-->
    <add key="oracleConnStringLocal" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.21.112.74)(PORT=1521))(CONNECT_DATA=(Service_name=pms)));User Id=poneapp;Password=pms123;"/>

    <!--PropertyOne 访问地址-->
    <add key="remoteUrl" value="http://172.21.112.154/PropertyOneHK/"/>
  </appSettings>
</configuration>
